EssentialApp/EssentialApp.xcworkspace/xcuserdata/soldatov.xcuserdatad/UserInterfaceState.xcuserstate
EssentialApp/EssentialApp.xcworkspace/xcuserdata/soldatov.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist